:root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: grey;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.HeaderContainer {
  margin-top: 1.5rem;
}

.HeaderContainer img{
  width: 10rem;
  height: 12rem;
  border-radius: 50%;
  margin-top: 1rem;
}

.Header {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.NameHeading {
  font-size: 2rem;
  margin: 0;
}

.ExperienceList {
  list-style-type: none;
  padding: 0;
}
